{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 1 Chrome version"]
      }
    }]
  ],
  "env": {
    "test": {
      "plugins": ["@babel/plugin-transform-modules-commonjs"]
    }
  }
}
