<template data-j-component="my-education" data-j-props="period place role">
  <div>
    <span class="period">Sept 2008 - Aug 2013</span>
    <h3>Moscow Institute of State and Corporate Governance</h3>
    <p>Informatics in economics, Specialist degree</p>
  </div>
  <style>
    .period {
      float: right;
      font-style: italic;
      margin-top: 22px;
      margin-left: 12px;
    }

    @media (max-width: 500px) {
      .period {
        margin-top: 0px;
      }
    }
  </style>
</template>
